@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&display=swap');


@mixin neumorphism($distance, $blur, $intensity, $inset: false) {
    box-shadow: $distance $distance $blur mix(#5a5a5a, transparent, $intensity) if($inset, inset, null),
      -#{$distance} -#{$distance} $blur mix(#ffffff, transparent, $intensity) if($inset, inset, null);
  }
  
//   Full document styling

  :root {
    --bg-color: #eceef1;
    --shadow-dark: #97a4b6;
    --shadow-light: #ffffff;
    --text-primary: #2f3235;
    --transition-config: all 0.4s cubic-bezier(0.25, 0.46, 0.45, 1.1);
    --bright-green: #a3ebb1;
    --deep-blue: #274472;
    }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    margin-top: 60px;
    margin-bottom: 60px;
    font-size: 60px;
}

h2 {
    margin: 25px;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Poppins, sans-serif;
    line-height: 1.6;
    color: var(--text-primary);
    background-color: var(--bg-color);
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    margin:0;
    padding:0;
}

section {
    padding: 60px 20px;
    // margin: auto;
    margin-right: auto;
    margin-left: auto;
    // margin-top: 50px;
    margin-top: auto;
    margin-bottom: 150px;
    max-width: 75%;
    text-align: center;
}

header {
    background-color: #eceef1;
    color: #fff;
    padding: 30px 0;
    position: fixed;
    width: 100%;
    margin: auto;
    transition: all 0.3s ease-in-out;
}

header.shadow {
    padding: 15px 0;
    border:1px solid #97a4b63d;
    box-shadow: 6px 6px 6px #cecece83, -6px -6px 6px #ffffff;
}

header nav ul {
    display: flex;
    justify-content: center;
    gap: 20px;
}

header nav ul li a {
    color: black;
    font-size: 18px;
}

header nav ul li a:hover {
    text-decoration: none;
}

h1, h2, h3 {
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 300px;
    margin: 0 auto;
}

input, textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

footer {
    display:grid;
    grid: auto / auto auto;
    background-color: var(--bg-color);
    color: black;
    padding: 10px;
    text-align: center;
    bottom: 0;
    width: 100%;
}

#footer-list {
    display:flex;
    flex-direction: row-reverse;
}

#footer-list li {
    margin: 0 10px;
}

footer div {
    display: inline;
    text-align: left;
}

footer ul li a {
    color: inherit;
    text-underline-offset: 3px;;
}

footer ul li a:hover {
    color: green;
}

#desktop-nav {
    display: flex;
    justify-content: center;
}

/* Mobile navigation */

#mobile-nav {
    display:none;
    justify-content: space-around;
}

.hamburger-icon {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    height: 40px;
    width: 30px;
    cursor: pointer;
    margin: auto;
    font-size: 25px;
    text-align: center;
}

.menu-links {
    top: 100%;
    right: 0%;
    background-color: #30538a;
    max-height: 0;
    overflow: hidden;
    transition: all 0.1s ease-in-out;
}

.menu-links a {
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    color: white;
    text-decoration:none;
    
}

.menu-links li {
    list-style: none;
}

.menu-links.open {
    max-height: 300px;
    transition: all 0.1s ease-in-out;
}

.image {
    box-shadow: 7px 7px 15px rgba(55, 84, 170, .15),
              -7px -7px 20px rgba(255, 255, 255, 1),
              0px 0px 4px rgba(255, 255, 255, .2) !important;
    background-color: var(--bg-color);
    border-radius: 20px;
    margin-bottom: 20px;
    width: 100%;
    height: auto;
}

#intro-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10%;
}

#intro-left {
    flex: 1;
}

#intro-right {
    flex: 1;
    float: right;
    text-align: right;
}

#robbeimg {
    border-radius: 50%;
    max-width: 85%;
    height: auto;
    
}

// Forms
#project-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 50px;
}

#projects {
    width: 100;
}

.project {
    flex: 1;
    background-color: var(--bg-color);
    padding: 20px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    box-shadow: 7px 7px 15px rgba(55, 84, 170, .15),
    -7px -7px 20px rgba(255, 255, 255, 1),
    0px 0px 4px rgba(255, 255, 255, .2) !important;
}

.project:hover{
    box-shadow: 7px 7px 15px rgba(55, 84, 170, .15),
                -7px -7px 20px rgba(255, 255, 255, 1),
                inset 0px 0px 4px rgba(255, 255, 255, 0.699),
                inset 7px 7px 15px rgba(255, 0, 0, 0),
                inset -7px -7px 20px rgba(255, 255, 255, 0),
                0px 0px 4px rgba(255, 255, 255, 0) !important;
}

#resume-container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
}

.resume-entry {
    background-color: var(--bg-color);
    padding: 20px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    box-shadow: 7px 7px 15px rgba(55, 84, 170, .15),
    -7px -7px 20px rgba(255, 255, 255, 1),
    0px 0px 4px rgba(255, 255, 255, .2) !important;
}

// Buttons
.button {
    font-size: 17px;
    padding: 10px 40px;
    border-radius: 15px;
    color: #6D7587;
    background-color: var(--bg-color);
    outline: solid 1px rgba(55, 84, 170, 0.068);
    transition: box-shadow .2s ease !important;
    max-width: 50%;
    box-shadow: 7px 7px 15px rgba(55, 84, 170, .15),
                -7px -7px 20px rgba(255, 255, 255, 1),
                inset 0px 0px 4px rgba(255, 255, 255, .2),
                inset 7px 7px 15px rgba(55, 84, 170, 0),
                inset -7px -7px 20px rgba(255, 255, 255, 0),
                0px 0px 4px rgba(255, 255, 255, 0) !important;
  }

.button.header {
    transition: padding 0.3s ease-out, font-size .3s ease-out !important;
    font-size: 17px;
}

.button.header.shadow {
    padding: 7px 30px;
    font-size: 15px;
}

.button.header.active {
    color: rgb(47, 109, 224);
}

.button:hover {
    outline:none;
    box-shadow: 7px 7px 15px rgba(55, 84, 170, .15),
                -7px -7px 20px rgba(255, 255, 255, 1),
                inset 0px 0px 4px rgba(255, 255, 255, .2),
                inset 7px 7px 15px rgba(55, 84, 170, 0),
                inset -7px -7px 20px rgba(255, 255, 255, 0),
                0px 0px 4px rgba(255, 255, 255, 0) !important;
    color: rgb(119, 167, 255);
}

.button:active {
    box-shadow: 7px 7px 15px rgba(55, 84, 170, .15),
              -7px -7px 20px rgba(255, 255, 255, 1),
              inset 0px 0px 4px rgba(255, 255, 255, 0),
              inset 7px 7px 15px rgba(55, 84, 170, .15),
              inset -7px -7px 20px rgba(255, 255, 255, 1),
              0px 0px 4px rgba(255, 255, 255, .2) !important;
}

.button:focus {
    outline: solid 2px rgba(55, 84, 170, 0.068);
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 25px;
}

#contact-button {
    display:grid;
    position: fixed;
    bottom: 10px;
}

// Media query

@media screen and (max-width: 800px) {
    #projects-container {
        display:flex;
        flex-direction: column;
    }
    .project {
        max-width: 500px;
        flex:auto;
    }
    #desktop-nav {
        display:none;
    }
    #mobile-nav {
        display: flex;
        flex-direction:column;
    }
    header {
        padding: 0;
    }
    .footer-text {
        display:none
    }
    .button-container{
        flex-direction: column;
    }
    .button {
        padding: 10px;
        width: 100%;
        max-width: 100%;
    }
}

@media screen and (max-width: 950px) {
    #intro-container {
        flex-direction: column;
    }
    #intro-right {
        text-align: center;
    }
}